<!DOCTYPE html>
<html>
<head>
	<title>Метрополитен</title>
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		
		<h1 class="page-header">Отчет №1 Лабы №2</h1>
		
		<% for(file in results) { %>

		<legend><%= results[file].fileName %></legend>
		<table class="table table-stripped">
			<thead>
				<tr>
					<th>Date</th>
					<th>Cashier</th>
					<th>Amount</th>
				</tr>
			</thead>
			<tbody>
				<% var summ = 0; %>
				<% for(var i = 0; i < results[file].rows.length; i++) { %>
				<tr>
					<td><%= results[file].rows[i].DateTime.replace(/(\d{4})(\d{2})(\d{2})(\d{2})(\d{2})(\d{2})/, '$3.$2.$1 $4:$5:$6') %></td>
					<% if(persons.cards.indexOf(results[file].rows[i].CardNo) === -1) { %>
					<td><%= results[file].rows[i].CardNo %></td>
					<% } else { %>
					<td><%= persons.names[persons.cards.indexOf(results[file].rows[i].CardNo)] %></td>
					<% } %>
					<% var amount = Math.round( - results[file].rows[i].Amount / 100); summ += amount; %>
					<td><%= amount %> грн.</td>
				</tr>
				<% } %>
				<tr class="alert-success">
					<td></td>
					<td>SUMM</td>
					<td><%= summ %> грн.</td>
				</tr>
			</tbody>
		</table>

		<% } %>

	</div>
</body>
</html>
