<!DOCTYPE html>
<html>
<head>
	<title>Метрополитен</title>
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		
		<h1 class="page-header">Отчет №1 Лабы №1</h1>
		
		<% for(file in results) { %>

		<legend><%= results[file].fileName %></legend>
		<table class="table table-stripped">
			<thead>
				<tr>
					<th>Date</th>
					<th>EventCode</th>
					<th>ErrorCode</th>
				</tr>
			</thead>
			<tbody>
				<% for(var i = 0; i < results[file].rows.length; i++) { %>
				<tr>
					<td><%= results[file].rows[i].DateTime.replace(/(\d{4})(\d{2})(\d{2})(\d{2})(\d{2})(\d{2})/, '$3.$2.$1 $4:$5:$6') %></td>
					<td><%= events[results[file].rows[i].EventCode] %></td>
					<td><%= errors[results[file].rows[i].ErrorCode] %></td>
				</tr>
				<% } %>
			</tbody>
		</table>

		<% } %>

	</div>
</body>
</html>
