<!DOCTYPE html>
<html>
<head>
	<title>Метрополитен</title>
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		
		<h1 class="page-header">Hello</h1>
		
		<form method="POST">

			<div class="row">
				<div class="form-group col-sm-4">
					<label>Выберите станцию:</label>
					<select name="adbk" class="form-control">
						<% for(var name in list) { %>
							<option value="<%= name %>"><%= (names[name])? names[name] : name  %></option>
						<% } %>
					</select>
				</div>

				<div class="form-group col-sm-4">
					<label>Укажите номер карты:</label>
					<input name="card" class="form-control" />
				</div>
				<div class="form-group col-sm-4">
					<label>Получить отчет:</label>
					<input type="submit" value="Go" class="btn btn-success form-control">
				</div>
			</div>
		</form>

	</div>
</body>
</html>
